/* Tipografía */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #f0d3d1, white);
}
.contenedor{
    display: grid;
    grid-template-areas: "header header header"
                         "main main main"
                         "publi1 publi2 publi3"
                         "footer footer footer";                                        
}
.header{
    background-color: #f3b6b0;
    display: flex;
    padding-right: 15px;
    grid-area: header;
}
.header__nombre{
    color: black;
    text-align: center;
    font-size: 80px;
    font-family: 'Waterfall', cursive;
    font-weight: 600;
    display: inline;
    margin: 20px 50px;

}
.header__nav{
    margin-left: auto;
    display: flex;
    align-items: flex-end;
}
.hader__nav--botones1{
    list-style: none;
    font-size: 15px;
    display: inline-block;
    padding: 7px;
    margin: 20px 5px;
    background-color: #eae1ce;
    border: 1px solid #d787e7;
    position: relative;
}
.header__nav ul li:hover > ul{
    display: block;
}
.hader__nav--botones2{
    text-decoration: none;
    color: black;
}
.header__nav--submenu{
    list-style: none;
    display: none;
    position: absolute;
    padding-top: 10px

}
.header__nav--submenu li{
    margin 2px;
    font-size: 15px;
    padding: 1px;
}

.footer{
    background-color: #eb7375;
    grid-area: footer;
    display: flex;
    justify-content: center;
}
.footer__redes{
    color: #eae1ce;
    margin: 10px;
    font-size: 40px;
    margin: 35px 10px;
}
.footer__redes:hover{
    transform: scale(1.4);
    transition: 1s;
}

/* Inicio */
.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: main;
}
.inicio__parrafo{
    margin: 90px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    color: black;
}
.inicio__imagen{
    margin: 40px 60px;
}
.publicidad{
    display: flex;
}
.publicidad__1{
    grid-area: publi1;
}
.publicidad__2{
    grid-area: publi2;
}
.publicidad__3{
    grid-area: publi3;
}
.publicidad__1--1{
    width: 300px;
    margin: 30px 60px;
}
.publicidad__2--2{
    width: 363px;
    margin: 30px 60px;
}
.publicidad__3--3{
    width: 330px;
    margin: 30px 60px;
}

@media screen and (max-width:1023px) {
    .contenedor{
        display: grid;
        grid-template-areas: "header header"
                             "main main"
                             "publi1 publi2"
                             "publi3 publi3"
                             "footer footer";                    
    }
}

/* Galeria de imagenes */
.galeriaimagenes{
    display: flex;
    justify-content: center;
}
.galeriaimagenes__imagen--img{
    width: 400px;
    margin: 15px;
}

/* Quienes somos */
.quiesom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header header"
                         "imagen1 imagen1 desc desc"
                         "imagen2 imagen3 imagen4 imagen5"
                         "footer footer footer footer"; 
    justify-content: center;
    justify-items: center;                                                                         
}
.quiesom__imagen--1{
    grid-area: imagen1;
}
.quiesom__parrafo{
    grid-area: desc;
    margin: 90px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    color: black;
}
.quiesom__imagen1{
    width: 600px;
    height: 700px;
    margin: 30px;
}
.quiesom__imagen--2{
    grid-area: imagen2; 
}
.quiesom__imagen--3{
    grid-area: imagen3;
}
.quiesom__imagen--4{
    grid-area: imagen4;
}
.quiesom__imagen--5{
    grid-area: imagen5;
}
.quiesom__imagen{
    width: 200px;
    height: 300px;
    margin: 10px;
}

@media screen and (max-width:1023px) {
    .quiesom{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "header header"
                             "imagen1 desc"
                             "imagen2 imagen3"
                             "imagen4 imagen5"
                             "footer footer"; 
        justify-content: center;
        justify-items: center;                                                                         
    }
}

/* Formulario */
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
.formulario__titulo{
    color: purple;
    font-family: 'Libre Baskerville', serif;
    margin-left: 110px;
}
.formulario__campos{
    margin: 20px;
}
.formulario__campos--dato{
    color: purple;
    font-family: 'Libre Baskerville', serif;
    margin: 20px;
}
.formulario__campos--imput{
    border-color: purple;
}
.formulario__campos--selecc{
    color: purple;
    font-family: 'Libre Baskerville', serif;
    border-color: purple;
}
.formulario__campos--boton{
    font-family: 'Libre Baskerville', serif;
    margin: 20px;
    padding: 7px;
    color: purple;
    border-style: ridge;
    border-color: purple;
    background-color: rgb(226, 206, 206);
}