/* Tipografía */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #f0d3d1, white);
}

.header{
    background-color: #f3b6b0;
    display: flex;
    padding-right: 15px;
}
.header__nombre{
    color: black;
    text-align: center;
    font-size: 5rem;
    font-family: 'Waterfall', cursive;
    font-weight: 600;
    display: inline;
    margin: 20px 50px;
}
body div header nav{
    font-size: 1.3rem;
}
body div header nav div ul li:hover{
    transform: translateY(2px);
    background-color: #eae1ce;
}

.footer{
    background-color: #eb7375;
    display: flex;
    justify-content: center;
}
.footer__redes{
    color: #eae1ce;
    font-size: 2.7rem;
    margin: 35px 10px;
}
.footer__redes:hover{
    transform: scale(1.4);
    transition: 1s;
    color: #eae1ce;
}
.footer__redes--wp{
    color: #eae1ce;
    font-size: 2.7rem;
    margin: 35px 10px;
}
.footer__redes--wp:hover{
    transform: scale(1.4);
    transition: 1s;
    color: rgb(32, 133, 32);
}
.footer__redes--insta{
    color: #eae1ce;
    font-size: 2.7rem;
    margin: 35px 10px;
}
.footer__redes--insta:hover{
    transform: scale(1.4);
    transition: 1s;
    background: -webkit-linear-gradient(rgb(170, 53, 224), rgb(235, 213, 23));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer__redes--face{
    color: #eae1ce;
    font-size: 2.7rem;
    margin: 35px 10px;
}
.footer__redes--face:hover{
    transform: scale(1.4);
    transition: 1s;
    color: rgb(31, 84, 230);
}
.footer__redes--messe{
    color: #eae1ce;
    font-size: 2.7rem;
    margin: 35px 10px;
}
.footer__redes--messe:hover{
    transform: scale(1.4);
    transition: 1s;
    color: rgb(30, 57, 133);
}

/* Inicio */
.inicio__parrafo{
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
    color: black;
}
.publicidad__1--1{
    width: 300px;
    margin: 30px 60px;
}
.publicidad__2--2{
    width: 363px;
    margin: 30px 60px;
}
.publicidad__3--3{
    width: 330px;
    margin: 30px 60px;
}

/* Galeria de imagenes */
.galeriaimagenes__imagen--img{
    width: 400px;
    margin: 1rem;
}
.galeriaimagenes__imagen--img:hover{
    transform: scale(1.5);
}

/* Quienes somos */
.quiesom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header header"
                         "imagen1 imagen1 desc desc"
                         "imagen2 imagen3 imagen4 imagen5"
                         "footer footer footer footer"; 
    justify-content: center;
    justify-items: center;                                                                         
}
.quiesom__imagen--1{
    grid-area: imagen1;
}
.quiesom__parrafo{
    grid-area: desc;
    margin: 90px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    color: black;
}
.quiesom__imagen1{
    width: 600px;
    height: 700px;
    margin: 30px;
}
.quiesom__imagen--2{
    grid-area: imagen2; 
}
.quiesom__imagen--3{
    grid-area: imagen3;
}
.quiesom__imagen--4{
    grid-area: imagen4;
}
.quiesom__imagen--5{
    grid-area: imagen5;
}
.quiesom__imagen{
    width: 200px;
    height: 300px;
    margin: 10px;
}

/* Formulario */
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
.formulario__titulo{
    color: purple;
    font-family: 'Libre Baskerville', serif;
    margin-left: 110px;
}
.formulario__campos{
    margin: 20px;
}
.formulario__campos--dato{
    color: purple;
    font-family: 'Libre Baskerville', serif;
    margin: 20px;
}
.formulario__campos--imput{
    border-color: purple;
}
.formulario__campos--selecc{
    color: purple;
    font-family: 'Libre Baskerville', serif;
    border-color: purple;
}
.formulario__campos--boton{
    font-family: 'Libre Baskerville', serif;
    margin: 20px;
    padding: 7px;
    color: purple;
    border-style: ridge;
    border-color: purple;
    background-color: rgb(226, 206, 206);
}

@media screen and (max-width: 900px){
    .header__nombre{
        font-size: 4rem;
    }
    body div header nav{
        font-size: 1rem;
    }
    .inicio__parrafo{
        font-size: 1.3rem;
        margin: 2rem;
    }
    .footer__redes{
        font-size: 2rem;
    }
}